<head>
    <!-- Get our star icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/index.css">
</head>

<body>
    <header>
        <h1> The Davis Review Emporium</h1>
        <a id="createLink" href="edit.html">Create a review</a> <!-- eventually make this pass some particular parameter to the page for templating purposes -->
    </header>

    <main>
        <table id="reviewTable">
            <th>Title</th>
            <th>Rating</th>
            <th></th>   <!-- this is the column for edit buttons-->
            <th></th>   <!-- this is the column for delete buttons-->
        </table>
    <main>
</body>

<script src="static/index.js" defer></script>