body {
    text-align:center;
    background-color: lightgray;
}

header, main {
    width: 70%;
    margin: auto;
    border-left: 3px black solid;
    border-right: 3px black solid;
}

header a {
    font-size: x-large;
    color: black;
}